<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <div class="main-wrapper">
    <body>
      {% extends "template.html" %}
      {% block content %}

      <div class="content">
        <h2 class = "subtitle"> CHINA </h2>
        <p> China is a very big country. </p>

        <h2 class = "subtitle"> Netherlands </h2>
        <p> The Netherlands is smaller than China. </p>
      </div>

      {% endblock %}
    </body>
  </div>
</html>
