<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <div class="main-wrapper">
    <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="content">
        <h2 class = "subtitle"> Welcome! </h2>
          <p> Welcome to this open source web application. If you would like
            to get an idea of how it looks like to build a web application in
            Python, you're on the right place!</p>
        <img src="/static/images/home-main.png">
          <p>This is an example of a very basic web application, built from
            scratch using Flask. The  application shows how the back and
            front end of an web in Flask could look like, and shows the
            possibility of how a user can interact with algorithms written in
            Python. All the code is open sourced and available on the
            <a href="https://github.com/SimonDanielV/whattheflask">github</a>.
          </p>
        <h2 class = "subtitle"> What's in the app? </h2>
          <p> The web app contains 4 pages: home, random, predict and about.
            The random and predict page are the most interesting, because here
            you can interact with to very simple algorithms. The first algorithm
            is the randomizer, where you can ask for a random number between a
            given range. On the predict page you can ask for a prediction on a
            list of numeric values.</p>
        <h2 class = "subtitle"> Shoutout to Flask </h2>
          <p> The web application is built on Flask. Flask is a mirco web
            framework - written in Python - and is used worldwide for building
            web applications. Because Flask is not a heavy framework at all,
            it is popular for relitively light web applications, such as a blog
            or information web site. The framework is also popular among data
            scientists who wants to build a web app on which user can interact
            with their developed data science models. And the best part of it is
            that also Flask is open sourced software what you can use for free,
            or where you contribute on if you see changes to improve the
            framework.</p>
      </div>
      {% endblock %}
    </body>
  </div>
</html>
