<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <div class="main-wrapper">
    <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="content">
        <h2 class = "subtitle"> Flask </h2>
          <p> This is an example of building you own web app with Python's
          Flask. </p>
        <img src="/static/images/home-main.png">
        <h2 class = "subtitle"> What's in the app? </h2>
          <p> The web app contains a page where you can ask for a random number
          between a given range, and a page where you can ask for a prediction
          on a list of numeric values. All the code is open sourced and avaiable
          on the <a href="https://github.com/SimonDanielV/whattheflask">github</a>. </p>
      </div>
      {% endblock %}
    </body>
  </div>
</html>
