<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generate random number</title>
  </head>
  <div class="main-wrapper">
    <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="content">
        <div class="interactive">
          <h2 class = "random-form"> Random number </h2>
            <form method="POST">
              <p> Enter here the lowest number that you would like to get:</p>
            <input type="number" name="randomStart" placeholder="Lowest number">
              <p> Enter here the highest number that you would like to get:</p>
            <input type="number" name="randomEnd" placeholder="Highest number">
              <div class="submit-buttom">
                <input type="submit">
              </div>
            </form>
            <p> Your random number is: </p>
            <p class="model-output"> <strong>{{ random_number }}</strong> </p>
        </div>
      </div>
      {% endblock %}
    </body>
  </div>
</html>
