body {
  margin: 0px;
  background-color: #F3F3F3
}

p {
  font-size: 18px;
  font-family: 'Ubuntu';
  color: #2A2A2A;
}

a {
  font-size: 18px;
  font-family: 'Ubuntu';
  color: #2A2A2A;
}

h1 {
  font-size: 40px;
  font-family: 'Ubuntu';
  color: #2A2A2A;
}

h2 {
  font-size: 32px;
  font-family: 'Ubuntu';
  color: #2A2A2A;
}

.content {
  max-width: 750px;
  margin: auto
}

.subtitle {
  color: #2A2A2A;
}

.container {
  background-color: #333333;
  opacity: 0.91;
  padding-right: 5%;
}

.navigation{
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li{
  float: right;
}

.navigation a {
  display: block;
  color: #F3F3F3;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
}

.navigation a:hover {
  text-decoration: underline;
}
